In [74]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 32 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 31.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=2ced857b5bbca16cdc43a1c40f75ab4c57dab65b6bb944486e45e2dc6186fd3a
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [75]:
!wget -q https://www-us.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [77]:
from pyspark.sql import SparkSession

In [76]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [78]:
spark

In [79]:
sc = spark.sparkContext

In [80]:
import pandas as pd

In [81]:
df = spark.read.csv('Part1_Crime_data.csv')

In [82]:
from pyspark.sql.types import *

In [83]:
#1 - specifying schema
user_schema = [StructField("X",DoubleType(),True), StructField("Y",DoubleType(),True), StructField("RowID",IntegerType(),True), StructField("CrimeDateTime",StringType(),True), StructField("CrimeCode",StringType(),True), StructField("Location",StringType(),True), StructField("Description",StringType(),True),
 StructField("Inside_Outside",StringType(),True), StructField("Weapon",StringType(),True), StructField("Post",IntegerType(),True), StructField("District",StringType(),True), StructField("Neighborhood",StringType(),True), StructField("Latitude",DoubleType(),True), StructField("Longitude",DoubleType(),True), StructField("GeoLocation",StringType(),True), StructField("Premise",StringType(),True),
 StructField("VRIName",StringType(),True), StructField("Total_Incidents",IntegerType(),True), StructField("Shape",StringType(),True)]

In [84]:
#reading file using schema def
df = spark.read.csv(path='Part1_Crime_data.csv', schema = StructType(user_schema), dateFormat='MM/dd/yyyy',timestampFormat='yyyy-MM-dd HH:mm:ss.SSSSSS')

In [85]:
#removing an invalid top row
df2 = spark.createDataFrame(df.tail(df.count()-1), df.schema)
df2.show()

+----------------+----------------+-----+--------------------+---------+--------------------+--------------------+--------------+-------+----+---------+--------------------+--------+---------+------------------+-----------+------------+---------------+-----+
|               X|               Y|RowID|       CrimeDateTime|CrimeCode|            Location|         Description|Inside_Outside| Weapon|Post| District|        Neighborhood|Latitude|Longitude|       GeoLocation|    Premise|     VRIName|Total_Incidents|Shape|
+----------------+----------------+-----+--------------------+---------+--------------------+--------------------+--------------+-------+----+---------+--------------------+--------+---------+------------------+-----------+------------+---------------+-----+
|1428019.10487147|589532.731060804|    1|2022/03/05 03:43:...|      3NF|       1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|         FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|       null|        null|              1| null|
|1428019.10487147|589532.731060804|    2|2022/03/05 03:43:...|      3NF|       1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|         FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|       null|        null|              1| null|
|1428019.10487147|589532.731060804|    3|2022/03/05 03:43:...|      3NF|       1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|         FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|       null|        null|              1| null|
|1423024.46477252| 572683.29122287|    4|2022/03/05 04:30:...|      3CF|  100 E PATAPSCO AVE|ROBBERY - COMMERCIAL|          null|FIREARM| 913| SOUTHERN|            BROOKLYN| 39.2385| -76.6092|(39.2385,-76.6092)|       null|        null|              1| null|
|1400632.37017858|593904.722108476|    5|2022/03/05 01:30:...|      3AF|       RD & KEVIN RD|    ROBBERY - STREET|          null|FIREARM| 822|SOUTHWEST|      ROGNEL HEIGHTS|  39.297|  -76.688|  (39.297,-76.688)|       null|        null|              1| null|
|1428080.44697806| 588476.72267982|    6|2022/03/05 03:00:...|      3AF|         900 FELL ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|         FELLS POINT| 39.2818| -76.5911|(39.2818,-76.5911)|       null|        null|              1| null|
|1414280.17070409|592206.638800635|    7|2022/03/05 01:30:...|       6F|SARATOGA ST & N C...|             LARCENY|          null|     NA| 711|  WESTERN|     FRANKLIN SQUARE| 39.2922| -76.6398|(39.2922,-76.6398)|       null|        null|              1| null|
|1415908.88866331|588352.223355187|    8|2022/03/05 01:55:...|       4B|1200 WASHINGTON BLVD|        AGG. ASSAULT|          null|  KNIFE| 932| SOUTHERN|WASHINGTON VILLAG...| 39.2816| -76.6341|(39.2816,-76.6341)|       null|        null|              1| null|
|1416311.79621168|600774.306828942|    9|2022/03/05 01:05:...|       4E|   2400 LAKEVIEW AVE|      COMMON ASSAULT|          null|     NA| 133|  CENTRAL|      RESERVOIR HILL| 39.3157| -76.6325|(39.3157,-76.6325)|       null|        null|              1| null|
|1428080.44697806| 588476.72267982|   10|2022/03/05 03:00:...|      3AF|         900 FELL ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|         FELLS POINT| 39.2818| -76.5911|(39.2818,-76.5911)|       null|        null|              1| null|
|1400632.37017858|593904.722108476|   11|2022/03/05 01:30:...|      3AF|       RD & KEVIN RD|    ROBBERY - STREET|          null|FIREARM| 822|SOUTHWEST|      ROGNEL HEIGHTS|  39.297|  -76.688|  (39.297,-76.688)|       null|        null|              1| null|
|1432647.62687906|592467.759047577|   12|2022/03/04 07:30:...|       6F|      0 N POTOMAC ST|             LARCENY|          null|     NA| 222|SOUTHEAST|PATTERSON PARK NE...| 39.2927| -76.5749|(39.2927,-76.5749)|       null|        null|              1| null|
| 1427584.6393205|598090.357990253|   13|2022/03/04 11:10:...|       4E|    1500 RUTLAND AVE|      COMMON ASSAULT|          null|     NA| 331|  EASTERN|       BROADWAY EAST| 39.3082| -76.5927|(39.3082,-76.5927)|       null|   Eastern 1|              1| null|
|1443629.80554938|592339.114793877|   14|2022/03/04 12:00:...|       4E|         200 KANE ST|      COMMON ASSAULT|          null|     NA| 232|SOUTHEAST|     HOPKINS BAYVIEW| 39.2922| -76.5361|(39.2922,-76.5361)|       null|        null|              1| null|
|1421700.51261744|591035.004412996|   15|2022/03/04 21:10:...|       4E|    100 E REDWOOD ST|      COMMON ASSAULT|          null|     NA| 111|  CENTRAL|            DOWNTOWN| 39.2889| -76.6136|(39.2889,-76.6136)|       null|        null|              1| null|
|1436607.65981105|592960.011482402|   16|2022/03/04 01:30:...|       6D|     100 N JANNEY ST|   LARCENY FROM AUTO|          null|     NA| 232|SOUTHEAST|             KRESSON|  39.294| -76.5609| (39.294,-76.5609)|       null|        null|              1| null|
|1427019.93930018|616919.110665838|   17|2022/03/04 18:15:...|       9S|    5600 THE ALAMEDA|            SHOOTING|       Outside|FIREARM| 522| NORTHERN|           GLEN OAKS| 39.3599| -76.5944|(39.3599,-76.5944)|PUBLIC AREA|        null|              1| null|
|1434177.21740256|604203.414626372|   18|2022/03/04 10:01:...|       5A|      3700 BELAIR RD|            BURGLARY|          null|     NA| 422|NORTHEAST|       BELAIR-EDISON| 39.3249| -76.5693|(39.3249,-76.5693)|       null|Northeastern|              1| null|
|1431134.87896789|595228.961546791|   19|2022/03/04 17:40:...|       4E|     800 N GLOVER ST|      COMMON ASSAULT|          null|     NA| 333|  EASTERN|     MADISON-EASTEND| 39.3003| -76.5802|(39.3003,-76.5802)|       null|   Eastern 2|              1| null|
|1416193.12712294|588061.976504009|   20|2022/03/04 03:20:...|       4E|     1200 CARROLL ST|      COMMON ASSAULT|          null|     NA| 932| SOUTHERN|WASHINGTON VILLAG...| 39.2808| -76.6331|(39.2808,-76.6331)|       null|        null|              1| null|
+----------------+----------------+-----+--------------------+---------+--------------------+--------------------+--------------+-------+----+---------+--------------------+--------+---------+------------------+-----------+------------+---------------+-----+
only showing top 20 rows

In [ ]:
#Cache the DataFrame
df2.cache()

DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: string, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: int, District: string, Neighborhood: string, Latitude: double, Longitude: double, GeoLocation: string, Premise: string, VRIName: string, Total_Incidents: int, Shape: string]

In [ ]:
# row count
df2.count()

65533

In [86]:
#print schema
df2.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: integer (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: string (nullable = true)

In [ ]:
#first five rows
df2.head(5)

[Row(X=1428019.10487147, Y=589532.731060804, RowID=1, CrimeDateTime='2022/03/05 03:43:00+00', CrimeCode='3NF', Location='1800 FLEET ST', Description='ROBBERY - STREET', Inside_Outside=None, Weapon='FIREARM', Post=213, District='SOUTHEAST', Neighborhood='FELLS POINT', Latitude=39.2847, Longitude=-76.5913, GeoLocation='(39.2847,-76.5913)', Premise=None, VRIName=None, Total_Incidents=1, Shape=None),
 Row(X=1428019.10487147, Y=589532.731060804, RowID=2, CrimeDateTime='2022/03/05 03:43:00+00', CrimeCode='3NF', Location='1800 FLEET ST', Description='ROBBERY - STREET', Inside_Outside=None, Weapon='FIREARM', Post=213, District='SOUTHEAST', Neighborhood='FELLS POINT', Latitude=39.2847, Longitude=-76.5913, GeoLocation='(39.2847,-76.5913)', Premise=None, VRIName=None, Total_Incidents=1, Shape=None),
 Row(X=1428019.10487147, Y=589532.731060804, RowID=3, CrimeDateTime='2022/03/05 03:43:00+00', CrimeCode='3NF', Location='1800 FLEET ST', Description='ROBBERY - STREET', Inside_Outside=None, Weapon='FIREARM', Post=213, District='SOUTHEAST', Neighborhood='FELLS POINT', Latitude=39.2847, Longitude=-76.5913, GeoLocation='(39.2847,-76.5913)', Premise=None, VRIName=None, Total_Incidents=1, Shape=None),
 Row(X=1423024.46477252, Y=572683.29122287, RowID=4, CrimeDateTime='2022/03/05 04:30:00+00', CrimeCode='3CF', Location='100 E PATAPSCO AVE', Description='ROBBERY - COMMERCIAL', Inside_Outside=None, Weapon='FIREARM', Post=913, District='SOUTHERN', Neighborhood='BROOKLYN', Latitude=39.2385, Longitude=-76.6092, GeoLocation='(39.2385,-76.6092)', Premise=None, VRIName=None, Total_Incidents=1, Shape=None),
 Row(X=1400632.37017858, Y=593904.722108476, RowID=5, CrimeDateTime='2022/03/05 01:30:00+00', CrimeCode='3AF', Location='RD & KEVIN RD', Description='ROBBERY - STREET', Inside_Outside=None, Weapon='FIREARM', Post=822, District='SOUTHWEST', Neighborhood='ROGNEL HEIGHTS', Latitude=39.297, Longitude=-76.688, GeoLocation='(39.297,-76.688)', Premise=None, VRIName=None, Total_Incidents=1, Shape=None)]

In [87]:
#distinct crime codes
df2.select('CrimeCode').distinct().show()

+---------+
|CrimeCode|
+---------+
|       3P|
|       3K|
|      3BJ|
|       1A|
|       3M|
|       5F|
|       4B|
|       3B|
|      3NF|
|       7A|
|      3EF|
|       3N|
|       5D|
|      3LO|
|      3AF|
|       7B|
|      3GO|
|     3AJF|
|      8AO|
|       7C|
+---------+
only showing top 20 rows

In [88]:
#Count the number of crimes by the crime codes and order by the resulting counts in descending order
df2.select('CrimeCode').groupby('CrimeCode').count().sort('count', ascending = False).collect()

[Row(CrimeCode='4E', count=14369),
 Row(CrimeCode='6D', count=7350),
 Row(CrimeCode='7A', count=5166),
 Row(CrimeCode='6J', count=3559),
 Row(CrimeCode='5A', count=3114),
 Row(CrimeCode='4C', count=3047),
 Row(CrimeCode='4B', count=3025),
 Row(CrimeCode='4A', count=2701),
 Row(CrimeCode='6E', count=2610),
 Row(CrimeCode='6C', count=2460),
 Row(CrimeCode='6G', count=2261),
 Row(CrimeCode='9S', count=1370),
 Row(CrimeCode='3AF', count=1261),
 Row(CrimeCode='6F', count=1147),
 Row(CrimeCode='5D', count=1136),
 Row(CrimeCode='4D', count=1002),
 Row(CrimeCode='5B', count=986),
 Row(CrimeCode='5F', count=976),
 Row(CrimeCode='3B', count=794),
 Row(CrimeCode='3AJF', count=770),
 Row(CrimeCode='6L', count=608),
 Row(CrimeCode='1A', count=554),
 Row(CrimeCode='3AO', count=543),
 Row(CrimeCode='2A', count=512),
 Row(CrimeCode='3GF', count=358),
 Row(CrimeCode='3CF', count=328),
 Row(CrimeCode='7C', count=301),
 Row(CrimeCode='3K', count=286),
 Row(CrimeCode='3AK', count=282),
 Row(CrimeCode='3J', count=216),
 Row(CrimeCode='5C', count=207),
 Row(CrimeCode='3JF', count=190),
 Row(CrimeCode='3N', count=176),
 Row(CrimeCode='7B', count=174),
 Row(CrimeCode='3BJ', count=149),
 Row(CrimeCode='3D', count=131),
 Row(CrimeCode='5E', count=105),
 Row(CrimeCode='3JO', count=99),
 Row(CrimeCode='6B', count=98),
 Row(CrimeCode='3NF', count=83),
 Row(CrimeCode='6A', count=83),
 Row(CrimeCode='3AJO', count=78),
 Row(CrimeCode='8H', count=72),
 Row(CrimeCode='3GO', count=69),
 Row(CrimeCode='3P', count=64),
 Row(CrimeCode='3CK', count=57),
 Row(CrimeCode='3JK', count=54),
 Row(CrimeCode='8AO', count=52),
 Row(CrimeCode='3CO', count=51),
 Row(CrimeCode='3H', count=41),
 Row(CrimeCode='1O', count=40),
 Row(CrimeCode='8I', count=37),
 Row(CrimeCode='3EF', count=36),
 Row(CrimeCode='1K', count=34),
 Row(CrimeCode='3GK', count=33),
 Row(CrimeCode='8J', count=33),
 Row(CrimeCode='3EO', count=26),
 Row(CrimeCode='3LF', count=24),
 Row(CrimeCode='2B', count=24),
 Row(CrimeCode='3AJK', count=20),
 Row(CrimeCode='3F', count=17),
 Row(CrimeCode='3EK', count=12),
 Row(CrimeCode='3NO', count=10),
 Row(CrimeCode='3NK', count=7),
 Row(CrimeCode='8BO', count=7),
 Row(CrimeCode='8FO', count=7),
 Row(CrimeCode='8EO', count=6),
 Row(CrimeCode='8AV', count=6),
 Row(CrimeCode='3M', count=5),
 Row(CrimeCode='3E', count=5),
 Row(CrimeCode='6H', count=4),
 Row(CrimeCode='3C', count=4),
 Row(CrimeCode='5G', count=4),
 Row(CrimeCode='3LO', count=2),
 Row(CrimeCode='3L', count=1),
 Row(CrimeCode='8GO', count=1),
 Row(CrimeCode='8CV', count=1),
 Row(CrimeCode='3LK', count=1),
 Row(CrimeCode='8EV', count=1)]

In [89]:
# Which neighborhood had the most crimes?
df2.select('Neighborhood').groupby('Neighborhood').count().sort('count', ascending = False).show(1)

+------------+-----+
|Neighborhood|count|
+------------+-----+
|    DOWNTOWN| 2282|
+------------+-----+
only showing top 1 row

In [90]:
from pyspark.sql.functions import *

In [91]:
# Which month of the year had most crimes?
df2.select(('CrimeDateTime')).groupby(month(df2.CrimeDateTime)).count().sort('count', ascending = False).collect()

[Row(month(CrimeDateTime)=None, count=65533)]

In [92]:
df2.select('Weapon').distinct().show()

+-------+
| Weapon|
+-------+
|     NA|
|   null|
|  HANDS|
|  KNIFE|
|  OTHER|
|   FIRE|
|FIREARM|
+-------+

In [ ]:
df2.select('Weapon').groupby('Weapon').count().sort('count', ascending = True).show(1)

+------+-----+
|Weapon|count|
+------+-----+
|  FIRE|  223|
+------+-----+
only showing top 1 row